<!--
\file      spawn_bunker.launch
\authors   Anditya Sridamar Pratyasta <anditya.sridamar.p@kangwon.ac.kr>
-->

<launch>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0" />
  <arg name="multi_robot_name" default=""/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro $(find bunker_explorer_description)/urdf/bunker_camera_base-footprint.xacro" />

  <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-unpause -urdf -model bunker -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
</launch>

